[Unit]
Description=Volclava RES (Remote Execution Server)
Wants=network-online.target
After=network-online.target volclava-lim.service

[Service]
Type=forking
Environment=LSF_ENVDIR=/opt/volclava-2.0/etc
ExecStart=/opt/volclava-2.0/sbin/res
KillMode=control-group
GuessMainPID=no
Restart=on-failure
RestartSec=3
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target

